beckett.rnc

# use relaxng namespace to set default values for attributes 
namespace a = "http://relaxng.org/ns/compatibility/annotations/1.0"
datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = element letter {metadata, content}

# from Access database
metadata = element metadata {
    element code {text},
    element recipient {text}
}

person = element person {
    attribute profile_id {
        "nonexistent" | xsd:int}?,
    attribute open_issue {"flag"}?,
    attribute contextual_identification {"yes"}?,
    person*,
    text}

organization = element organization {
    attribute profile_id {
        "nonexistent" | xsd:int}?,
    attribute open_issue {"flag"}?,
    attribute contextual_identification {"yes"}?,
    organization*,
    text}

place = element place {
    attribute profile_id {
        "nonexistent" | xsd:int}?,
    attribute open_issue {"flag"}?,
    attribute contextual_identification {"yes"}?,
    place*,
    text}


# from Microsoft Word document
content = element content {
    person*&
    organization*&
    place*&
    element work { 
        attribute open_issue {"flag"}?,
    text}*&
    text}
    
