beckett.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = element letter {metadata, content}

# from Access database
metadata = element metadata {
    element code {xsd:date},
    element recipient {text}
}

# from Microsoft Word document
content = element content {
    element p {text}*&
    element hi {
        attribute rend {text}
    }*&
    element person  {
        attribute viaf {text}?,
        attribute comment {text}?,
        text}*&
    element place {text}*&
    element organization {text}*&
    element work {
        attribute play {xsd:boolean}?,
        attribute performance {xsd:boolean}?,
        text}*&
    element other {
        attribute comment {text}?,
        text}*&
    text}

