beckett.rnc

datatypes xsd = "http://www.w3.org/2001/XMLSchema-datatypes"

start = element letter {metadata, content}

# from Access database
metadata = element metadata {
    element code {text},
    element recipient {text}
}

# from Microsoft Word document
content = element content {
    element person  {
        attribute profile_id 
            {list{"nonexistent", xsd:int}}?,
        attribute open_issue {"flag"}?,
        text}*&
    element organization { 
        attribute open_issue {"flag"}?,
    text}*&
    element work { 
        attribute open_issue {"flag"}?,
    text}*&
    text}